body{
    font-family: 'Times New Roman', Times, serif;
}

h1{
    letter-spacing: 5px;
}

div{
    position: relative;
    top: 25px;
    left: 25px;
    font-size: 25px;
}
#addBtn{
    position: relative;
    top: 1px;
    left: 163px;
    height: 34px;
    width: 122px;
    font-size: 17px;
    border: none;
    border-radius: 20px;
    background-color: #748CD4;
}
#addBtn:hover{
background-color: #586CA9;
}

#clearBtn{
    position: relative;
    top: 0px;
    left: 160px;
    height: 34px;
    width: 122px;
    font-size: 17px;
    background-color: skyblue;
    border: none;
    border-radius: 20px;
}
#clearBtn:hover{
    background-color: #55A6B0;
}

input{
    width: 289px;
    height: 34px;
    font-size: 22px;
    border-radius: 11px;
    text-align: center;
}